.org_title {
  font-family: "Poppins", sans-serif;
}

.about > div {
  flex: 1;
  margin: 1rem;
}

.org-title {
  margin-bottom: 1rem;
}

.max-w-prose {
  max-width: 65ch;
}

.org-container {
  margin-top: 20px;
}

@media screen and (min-width: 350px) and (max-width: 760px) {
  #about {
    height: 50vh;
  }

  .org-title {
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
  }
  .w-32 {
    width: 10%;
  }
}
