



.org_title {
  font-family: 'Poppins', sans-serif;
}



.about>div {
  flex: 1;
  margin: 1rem;
}

.org-title {
  margin-bottom: 1rem;
}

.max-w-prose {
  max-width: 65ch;
}

.org-container {
  margin-top: 20px;

}

