#events {
  border: 1px solid blue;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    /* Change to desired color */
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background */
    border-radius: 50%;
    /* Make buttons round */
    width: 40px;
    /* Set width */
    height: 40px;
    /* Set height */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 1);
    /* Fully opaque on hover */
}

.swiper-button-next {
    right: 10px;
    /* Position to the right */
}

.swiper-button-prev {
    left: 10px;
    /* Position to the left */
}