#events {
  border: 1px solid blue;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 1);
}

.swiper-button-next {
    right: 10px;

}

.swiper-button-prev {
    left: 10px;
}