#scholar {
  display: flex;
  height: 190vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.scholar-container {
}

.bg-container {
  width: 100%;
  max-width: 1400px;
  height: auto;
  padding: 3rem;
  background: rgba(18, 18, 18, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(18, 18, 18, 0.1);
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
  margin-top: 12%;
  text-align: center;
}

.scholar-title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.title-sub {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.scho-info {
  padding-left: 3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.scheme ul {
  font-size: 1.2rem;
  margin-bottom: 10px;
  list-style: square;
  text-align: left;
  padding-left: 80px;
}

.scheme ul li {
  list-style: square;
  font-weight: 600;
  margin-bottom: 10px;
}

.dep-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 10px;
}

.dep-imgi {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 10px;
}

@media (max-width: 1024px) {
  #scholar {
    display: flex;
    height: 180vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .bg-container {
    padding: 1rem;
    margin-top: 25%;
    max-width: 880px;
    height: auto;
  }

  .scholar-title {
    font-size: 1.25rem;
  }

  .title-sub {
    font-size: 1.25rem;
  }

  .scho-info {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .scheme ul {
    font-size: 1rem;
  }

  .scheme ul li {
    font-weight: 400;
  }

  .dep-logo {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .dep-imgi {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  #scholar {
    display: flex;
    height: 180vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .bg-container {
    padding: 1rem;
    margin-top: 25%;
    max-width: 750px;
    height: auto;
  }

  .scholar-title {
    font-size: 1.25rem;
  }

  .title-sub {
    font-size: 1.25rem;
  }

  .scho-info {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .scheme ul {
    font-size: 1rem;
  }

  .scheme ul li {
    font-weight: 400;
  }

  .dep-logo {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .dep-imgi {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  #scholar {
    display: flex;
    height: 155vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .bg-container {
    padding: 1rem;
    margin-top: 38%;
    max-width: 750px;
    height: auto;
  }

  .scholar-title {
    font-size: 1rem;
  }

  .title-sub {
    font-size: 0.75rem;
  }

  .scho-info {
    font-size: 0.5rem;
    padding-left: 0.25rem;
  }
  .scheme ul {
    font-size: 0.5rem;
  }

  .scheme ul li {
    font-weight: 600;
  }

  .dep-logo {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .dep-imgi {
    max-width: 250px;
  }
}
