#scholar {
    display: flex;
    height: 100vh;
    justify-content: center;
    /* background-color: #b9bbb9; */
    /* background-image: url(../images/index-background.png); */
}

.scholar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-container {
    width: 1600px;
    height: 730px;
    background: rgba(18, 18, 18, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(18, 18, 18, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10%;
}